.App {
  background: rgb(30,78,64);
  background: radial-gradient(closest-side, rgba(30,78,64,1) 0%, rgba(29,72,72,1) 25%, rgba(19,29,33,1) 100%); 
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}
