.change-holder {
    width: 97.5%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    color: #ABABAB;
    border: 0.15rem solid #314842;
    border-radius: 1rem;
    background-color: #17332c;
}

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.time-point {
    width: 100%;
    padding: 1rem 1rem 1rem 1rem;
}
